@use "style_elements/normalize" as *;
@use "style_elements/animation" as *;
@use "style_elements/fonts" as *;
@use "style_elements/animation" as *;
@use "elements/form" as *;
@use "style_elements/swiper-bundle" as *;
@use "sections/mobile-menu" as *;
@use "sections/textRigth" as *;
@use "sections/ourPartners" as *;
@use "sections/sliderAbout" as *;
@use "sections/advantages" as *;
@use "sections/readyContact" as *;
@use "sections/caseStudio" as *;
@use "sections/newsBase" as *;
@use "sections/bannerPages" as *;
@use "sections/modal-form" as *;
@use "sections/baseSolutions" as *;
@use "elements/breadcrumbs" as *;
@use "elements/title_section" as *;
@use "elements/sliders" as *;
@use "elements/footer" as *;
@use "elements/header" as *;
@use "elements/button" as *;
@use "pages/index" as *;
@use "pages/contacts" as *;
@use "pages/about-us" as *;
@use "pages/security" as *;
@use "pages/article" as *;
@use "pages/partners" as *;
@use "pages/case" as *;
@use "pages/cases" as *;
@use "pages/404" as *;
@use "pages/service" as *;
@use "pages/industry" as *;

body {
    min-height: 100vh;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
body:has(header + .error_page) {
    header {
        background: #000104;
    }
}
.no-scroll {
    overflow: hidden;
}
html {
    box-sizing: border-box;
    position: relative;
    scrollbar-gutter: stable;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.25s all ease;
}

*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

i {
    font-style: normal;
}

ul li,
ol li {
    margin: 0;
}

input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    cursor: pointer;
}

.clearfix {
    &:after {
        content: " ";
        visibility: hidden;
        display: block;
        font-size: 0;
        clear: both;
        height: 0;
    }
}

input {
    -webkit-appearance: none;
    appearance: none;
}

a {
    cursor: pointer;
}

.container {
    width: 100%;
    padding: 0 20px;
    position: relative;
}

.et_pb_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        color: #17181a;
        display: block;
        a {
            color: #214dde;
            text-decoration: underline;
        }
    }
    h4 {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        color: #214dde;
        display: block;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0 0 0 10px;
        li {
            display: flex;
            gap: 8px;
            font-size: 14px;
            font-weight: 400;
            color: #17181a;
            &::before {
                content: "";
                width: 5px;
                border-radius: 50px;
                flex-shrink: 0;
                height: 5px;
                margin: 8px 0 0 0;
                display: block;
                background: #17181a;
            }
        }
    }
}
.et_pb_row {
    margin-top: 30px;
}
@media (min-width: 648px) {
    .container {
        max-width: 688px;
        margin: 0 auto;
        padding: 0;
    }
    .et_pb_text {
        p {
            font-size: 16px;
        }
        h4 {
            font-size: 18px;
        }
        ul {
            li {
                font-size: 16px;
            }
        }
    }
    .et_pb_row {
        margin-top: 40px;
    }
}

@media (min-width: 960px) {
    .container {
        max-width: 860px;
    }
}
@media (min-width: 1366px) {
    .container {
        max-width: 1200px;
    }
    .et_pb_text {
        p {
            font-size: 16px;
        }
        h4 {
            font-size: 18px;
        }
        ul {
            li {
                font-size: 16px;
            }
        }
    }
    .et_pb_row {
        margin-top: 60px;
    }
}
@media (min-width: 1880px) {
    .container {
        max-width: 1440px;
    }
    .et_pb_text {
        p {
            font-size: 18px;
        }
        h4 {
            font-size: 20px;
        }
        ul {
            li {
                font-size: 18px;
            }
        }
    }
    .et_pb_row {
        margin-top: 70px;
    }
}
