.main_page {
    .main_screen {
        position: relative;

        .container {
            .flex-block {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 270px 0 150px;

                .main-title {
                    color: #ffffff;
                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 40px;
                    text-align: center;
                    display: block;
                    margin: 0;

                    i {
                        font-weight: 600;
                        font-style: italic;
                        display: block;
                    }
                }

                .main-descr {
                    color: #ffffff;
                    font-family: Poppins;
                    font-weight: 400;
                    font-size: 20px;
                    text-align: center;
                    display: block;
                    margin-top: 30px;
                }
            }
        }

        .background {
            position: absolute;
            inset: 0;
            z-index: -1;

            img {
                display: block;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .desktop {
                display: none;
            }
        }
    }
    .et_pb_text {
        padding: 30px 0;
        p {
            font-family: Poppins;
            font-size: 14px;
            font-weight: 400;
            color: #17181a;
            display: block;
            margin: 20px 0 0;
            a {
                color: #214dde;
                text-decoration: underline;
            }
        }
        h4 {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
            color: #214dde;
            display: block;
            margin: 20px 0 0;
        }
        ul {
            margin: 20px 0 0;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 0 0 0 10px;
            li {
                display: flex;
                gap: 8px;
                font-size: 14px;
                font-weight: 400;
                color: #17181a;
                &::before {
                    content: "";
                    width: 5px;
                    border-radius: 50px;
                    flex-shrink: 0;
                    height: 5px;
                    margin: 8px 0 0 0;
                    display: block;
                    background: #17181a;
                }
            }
        }
    }
}

@media (min-width: 648px) {
    .main_page {
        .main_screen {
            position: relative;

            .container {
                .flex-block {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 200px 0 180px;

                    .main-title {
                        font-size: 50px;
                    }

                    .main-descr {
                        font-size: 25px;
                        margin-top: 35px;
                    }
                }
            }

            .background {
                overflow: hidden;

                img {
                    max-width: none;
                    height: -webkit-fill-available;
                }

                .desktop {
                    display: block;
                }

                .mobile {
                    display: none;
                }
            }
        }
        .et_pb_text {
            padding: 40px 0;
            p {
                font-size: 16px;
            }
            h4 {
                font-size: 18px;
            }
            ul {
                gap: 7;
                li {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (min-width: 1366px) {
    .main_page {
        .main_screen {
            .container {
                .flex-block {
                    padding: 250px 0 75px;

                    .main-title {
                        font-size: 70px;
                    }

                    .main-descr {
                        font-size: 30px;
                        margin-top: 30px;
                    }
                }
            }

            .background {
                overflow: hidden;

                img {
                    max-width: none;
                    height: -webkit-fill-available;
                }

                .desktop {
                    display: block;
                }

                .mobile {
                    display: none;
                }
            }
        }
        .et_pb_text {
            padding: 60px 0;
            p {
                font-size: 16px;
                margin: 25px 0 0;
            }
            h4 {
                font-size: 18px;
                margin: 25px 0 0;
            }
            ul {
                gap: 7;
                margin: 25px 0 0;
                li {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (min-width: 1880px) {
    .main_page {
        .main_screen {
            .container {
                .flex-block {
                    padding: 350px 0 100px;

                    .main-title {
                        font-size: 84px;
                    }

                    .main-descr {
                        font-size: 36px;
                        margin-top: 20px;
                    }
                }
            }
        }
        .et_pb_text {
            padding: 70px 0;
            p {
                font-size: 18px;
            }
            h4 {
                font-size: 20px;
            }
            ul {
                li {
                    font-size: 18px;
                }
            }
        }
    }
}
