.cases_page {
    .cases-section {
        padding: 30px 0;
        background: #f5f5fa;
        .news-block {
            display: flex;
            flex-direction: column;
            gap: 15px;
            li {
                width: 100%;
                a {
                    border-radius: 20px;
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    height: 320px;
                    padding: 20px;
                    z-index: 1;
                    transition: 0.25s all ease;
                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        z-index: -1;
                        transition: 0.25s all ease;
                        background: linear-gradient(180deg, transparent 29%, #0c0c0c 100%);
                    }
                    .logo {
                        max-width: 40%;
                        img {
                            display: block;
                            min-width: 80px;
                            height: auto;
                        }
                    }
                    .news-title {
                        font-family: Poppins;
                        font-weight: 700;
                        font-size: 18px;
                        color: #fff;
                        margin-top: 10px;
                    }
                    .news-descr {
                        font-family: Poppins;
                        font-weight: 400;
                        font-size: 14px;
                        color: #fff;
                        margin-top: 10px;
                        overflow: hidden;
                        color: #fff;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        display: -webkit-box;
                    }
                }
            }
        }
    }
}

@media (min-width: 648px) {
    .cases_page {
        .cases-section {
            padding: 40px 0;
            .news-block {
                padding: 35px 0 0;
                li {
                    a {
                        height: 280px;
                        padding: 25px;
                        z-index: 1;
                        .logo {
                            max-width: 30%;
                            img {
                                display: block;
                                min-width: 80px;
                                height: auto;
                            }
                        }
                        .news-title {
                            font-family: Poppins;
                            font-weight: 700;
                            font-size: 18px;
                            color: #fff;
                        }
                        .news-descr {
                            font-size: 16px;
                            margin-top: 12px;
                            -webkit-line-clamp: 2;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1366px) {
    .cases_page {
        .cases-section {
            padding: 60px 0;
            .news-block {
                gap: 20px;
                li {
                    a {
                        height: 480px;
                        padding: 20px;
                        .logo {
                            max-width: 20%;
                            img {
                                min-width: 100px;
                            }
                        }
                        .news-title {
                            font-size: 20px;
                        }
                        .news-descr {
                            margin-top: 8px;
                            -webkit-line-clamp: 4;
                            font-size: 16px;
                        }
                    }
                    &:hover {
                        a {
                            transform: scale(1.01);
                            box-shadow:
                                0 0 25.1px 0 rgba(77, 108, 209, 0.75),
                                2px 2px 1px 0 rgba(43, 64, 130, 0.92);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1880px) {
    .cases_page {
        .cases-section {
            padding: 70px 0;
            .news-block {
                gap: 25px;
                li {
                    a {
                        height: 600px;
                        padding: 20px;
                        .news-title {
                            font-size: 24px;
                        }
                        .news-descr {
                            margin-top: 8px;
                            -webkit-line-clamp: 4;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}
