<section class="advantages" data-aos="fade-right">
    <div class="container">
        <h2 class="advantages-title">Advantages</h2>
        <ul class="advantages-list">
            <li>
                <img src="img/advantages.png" alt="">
                <p>SLA & reliability</p>
            </li>
            <li>
                <img src="img/advantages.png" alt="">
                <p>SLA & reliability</p>
            </li>
            <li>
                <img src="img/advantages.png" alt="">
                <p>Fast implementation</p>
            </li>
            <li>
                <img src="img/advantages.png" alt="">
                <p>SLA & reliability</p>
            </li>
            <li>
                <img src="img/advantages.png" alt="">
                <p>SLA & reliability</p>
            </li>
            <li>
                <img src="img/advantages.png" alt="">
                <p>SLA & reliability</p>
            </li>
        </ul>
    </div>
</section>