<section class="base-solutions" data-aos="fade-right">
    <div class="container">
        <h2><i>Сustomer expectations are growing systems must keep up</i> we turn complex communication into structured
            solutions</h2>
        <h3 class="title-text">Solutions </h3>
        <div class="base-solution_block">
            <div class="card large" data-aos="zoom-in" style="background: url('img/base-solutions.png') center center/cover no-repeat;">
                <h4 class="card-title">Contact Centers</h4>
                <p class="card-descr">The implementation of a contact center in conditions of limited staff and
                    financial resources allows you to raise the customer service to a new quality level</p>
            </div>
            <div class="card large" data-aos="zoom-in"  style="background: url('img/base-solutions.png') center center/cover no-repeat;">
                <h4 class="card-title">Contact Centers</h4>
                <p class="card-descr">The implementation of a contact center in conditions of limited staff and
                    financial resources allows you to raise the customer service to a new quality level</p>
            </div>
            <div class="card medium " data-aos="zoom-in" style="background: url('img/base-solutions.png') center center/cover no-repeat;">
                <h4 class="card-title">Contact Centers</h4>
                <p class="card-descr">The implementation of a contact center in conditions of limited staff and
                  </p>
            </div>
            <div class="card medium " data-aos="zoom-in" style="background: url('img/base-solutions.png') center center/cover no-repeat;">
                <h4 class="card-title">Contact Centers</h4>
                <p class="card-descr">The implementation of a contact center in conditions of limited staff and
                    financial resources allows you to raise the customer service to a new quality level</p>
            </div>
            <div class="card medium " data-aos="zoom-in" style="background: url('img/base-solutions.png') center center/cover no-repeat;">
                <h4 class="card-title">Contact Centers</h4>
                <p class="card-descr">The implementation of a contact center in conditions of limited staff and
                    financial resources allows you to raise the customer service to a new quality level</p>
            </div>
            <div class="card medium " data-aos="zoom-in" style="background: url('img/base-solutions.png') center center/cover no-repeat;">
                <h4 class="card-title">Contact Centers</h4>
                <p class="card-descr">The implementation of a contact center in conditions of limited staff and
                    financial resources allows you to raise the customer service to a new quality level</p>
            </div>
            <div class="card large semi-medium" data-aos="zoom-in" style="background: url('img/base-solutions.png') center center/cover no-repeat;">
                <h4 class="card-title">Contact Centers</h4>
                <p class="card-descr">The implementation of a contact center in conditions of limited staff and
                    financial resources allows you to raise the customer service to a new quality level</p>
            </div>
            <div class="card large semi-medium" data-aos="zoom-in" style="background: url('img/base-solutions.png') center center/cover no-repeat;">
                <h4 class="card-title">Contact Centers</h4>
                <p class="card-descr">The implementation of a contact center in conditions of limited staff and
                    financial resources allows you to raise the customer service to a new quality level</p>
            </div>

        </div>
    </div>
</section>