<footer class="footer">
    <div class="container">
        <div class="footer-nav">
            <div class="block-content about">
                <h4 class="list-title">About us </h4>
                <ul class="footer-list">
                    <li>
                        <a href="#">Our Mission</a>
                    </li>
                    <li>
                        <a href="#">Our Mission</a>
                    </li>
                    <li>
                        <a href="#">Our Mission</a>
                    </li>
                    <li>
                        <a href="#">Our Mission</a>
                    </li>
                </ul>
            </div>
            <div class="block-content solutions">
                <h4 class="list-title">Solutions</h4>
                <ul class="footer-list">
                    <li>
                        <a href="#">Our Mission</a>
                    </li>
                    <li>
                        <a href="#">Our Mission</a>
                    </li>
                    <li>
                        <a href="#">Our Mission</a>
                    </li>
                    <li>
                        <a href="#">Our Mission</a>
                    </li>
                </ul>
            </div>
            <div class="block-content industry">
                <h4 class="list-title">Your Industry</h4>
                <ul class="footer-list">
                    <li>
                        <a href="#">Our Mission</a>
                    </li>
                    <li>
                        <a href="#">Our Mission</a>
                    </li>
                    <li>
                        <a href="#">Our Mission</a>
                    </li>
                    <li>
                        <a href="#">Our Mission</a>
                    </li>
                </ul>
            </div>
            <div class="block-content resources">
                <h4 class="list-title">Resources</h4>
                <ul class="footer-list">
                    <li>
                        <a href="#">Our Mission</a>
                    </li>
                    <li>
                        <a href="#">Our Mission</a>
                    </li>
                    <li>
                        <a href="#">Our Mission</a>
                    </li>
                    <li>
                        <a href="#">Our Mission</a>
                    </li>
                </ul>
            </div>
            <div class="block-content contact">
                <h4 class="list-title">Contact</h4>
                <ul class="footer-list">
                    <li>
                        <a href="#" class="number">Our Mission</a>
                    </li>
                    <li>
                        <a href="#" class="email">Our Mission</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="copyright">
                <p>© 2022 SmartNova LTD</p>
            </div>
            <div class="privacy">
                <a href="#">Privacy Policy</a>
                <a href="#">Security Policy</a>
            </div>
            <ul class="social">
                <li>
                    <a href="#">
                        <img src="img/facebook.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/facebook.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>