<header class="header">
    <div class="container">
        <div class="header-flex">
            <div class="header-burger">
                <span class="burger-active"></span>
            </div>
            <a href="#" class="header-logo">
                <img src="img/header-logo.svg" alt="">
            </a>
            <div class="header-actions">
                <nav>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About us</a>
                        </li>
                        <li>
                            <a href="#">Solutions</a>
                        </li>
                        <li>
                            <a href="#">Your Industry</a>
                        </li>
                        <li>
                            <a href="#">Partners</a>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="header-lang">
                    <span class="current-lang">En</span>
                    <ul class="list-lang">
                        <li>
                            <a href="#">Ua</a>
                        </li>
                        <li>
                            <a href="#">Ru</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-search">
                <button class="search-active"></button>
                <div class="search-wrapper">
                    <input type="text" placeholder="Пошук" class="search-input">
                    <button class="search-btn"></button>
                </div>
            </div>
            <button class="header-contact">Contact Us</button>
        </div>
    </div>
</header>