<div class="mobile-menu">
    <div class="container">
        <div class="mobile-top">
            <button class="close-menu">
                <img src="img/close.svg" alt="">
            </button>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About us</a>
                </li>
                <li>
                    <a href="#">Solutions</a>
                    <button class="nav-arrow"></button>
                    <ul class="nav-list">
                        <li>
                            <a href="#">Our Mission</a>
                        </li>
                        <li>
                            <a href="#">Our Mission</a>
                        </li>
                        <li>
                            <a href="#">Our Mission</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Your Industry</a>
                </li>
                <li>
                    <a href="#">Partners</a>
                </li>
                <li>
                    <a href="#">Resources</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="header-lang">
            <span class="current-lang">En</span>
            <ul class="list-lang">
                <li>
                    <a href="#">Ua</a>
                </li>
                <li>
                    <a href="#">Ru</a>
                </li>
            </ul>
        </div>
        <button class="header-contact ">Contact Us</button>
    </div>
</div>

    