<ul class="news-block" >
    <li>
        <a href="#" style="background: url('../img/news.png') center center/cover no-repeat;">
            <h3 class="news-title">Lorem ipsum dolor sit amet</h3>
            <p class="news-descr">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna</p>
        </a>
    </li>
    <li>
        <a href="#" style="background: url('../img/news.png') center center/cover no-repeat;">
            <h3 class="news-title">Lorem ipsum dolor sit amet</h3>
            <p class="news-descr">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna</p>
        </a>
    </li>
    <li>
        <a href="#" style="background: url('../img/news.png') center center/cover no-repeat;">
            <h3 class="news-title">Lorem ipsum dolor sit amet</h3>
            <p class="news-descr">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna</p>
        </a>
    </li>
</ul>