<section class="our-partners" data-aos="fade-right">
    <div class="container">
        <h2 class="partners-title">Our partners</h2>
        <p class="partners-descr"></p>
        <div class="swiper partners-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/partner.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/partner.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/partner.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/partner.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/partner.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/partner.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/partner.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/partner.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/partner.png" alt="">
                </div><div class="swiper-slide">
                    <img src="img/partner.png" alt="">
                </div>
            </div>
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</section>