<section class="slider-about"  data-aos="fade-up">
    <h2 class="slider-about_title">What they say about us</h2>
    <div class="swiper sliderAbout">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="block-user">
                    <div class="img">
                        <img src="img/user.png" alt="">
                    </div>
                    <span class="name">Michael R,. </span>
                    <p>Operations Director, FinTech company</p>
                </div>
                <div class="block-text">
                    <p>"SmartNova's research helped us systematically review internal processes. The team quickly became
                        immersed in the specifics of the business and developed solutions that actually work. Their
                        strategic approach is especially appreciated and clear communication.”</p>
                </div>
            </div>
        </div>
    </div>
</section>