<section class="text-rigth" data-aos="fade-up">
    <div class="container">
        <div class="block-flex">
            <h3 class="title-text">About us</h3>
            <div class="block-text">
                <h4 class="title-block"><i>We can provide professional advice</i> not only on technological aspects of
                    implementation, but also help determine</h4>
                <p class="descr-block">Lorem ipsum dolor consectetur adipiscing we turn complex communication into
                    structured solutions</p>
            </div>
        </div>

    </div>
</section>